/Lesson003/Lection/Лекция 3. Ускоренная  обработка данных_ lambda, filter, map,  zip, enumerate, List Comprehension .pdf
/TelephoneDirectory/.idea/inspectionProfiles/profiles_settings.xml
/TelephoneDirectory/.idea/inspectionProfiles/Project_Default.xml
/TelephoneDirectory/.idea/.gitignore
/TelephoneDirectory/.idea/dbnavigator.xml
/TelephoneDirectory/.idea/misc.xml
/TelephoneDirectory/.idea/modules.xml
/TelephoneDirectory/.idea/TelephoneDirectory.iml
/TelephoneDirectory/.idea/vcs.xml
/TelephoneDirectory/main.py
